[run]
source = stagesetting
omit =
    stagesetting/test_*
    stagesetting/migrations/*
branch = True
data_file = .coverage
timid = False

[report]
exclude_lines =
    pragma: no cover

precision = 0
show_missing = True
omit =
    stagesetting/test_*
    stagesetting/migrations/*

[xml]
output = coverage.xml
