language: python
python: 3.5

sudo: false

notifications:
  email: false

install:
  - pip install --upgrade pip setuptools tox

cache:
  directories:
    - $HOME/.cache/pip

env:
  - TOX_ENV=py27-django18
  - TOX_ENV=py27-django19
  - TOX_ENV=py27-django110
  - TOX_ENV=py27-django111
  - TOX_ENV=py33-django18
  - TOX_ENV=py34-django18
  - TOX_ENV=py34-django19
  - TOX_ENV=py34-django110
  - TOX_ENV=py34-django111
  - TOX_ENV=py35-django18
  - TOX_ENV=py35-django19
  - TOX_ENV=py35-django110
  - TOX_ENV=py35-django111
  - TOX_ENV=pypy-django18
  - TOX_ENV=pypy-django19
  - TOX_ENV=pypy-django110
  - TOX_ENV=pypy-django111

script:
  - tox -e $TOX_ENV
