include *.py
include .coveragerc
include CHANGELOG
include LICENSE
include Makefile
include tox.ini
recursive-include stagesetting *.html
recursive-include test_app *.html
recursive-include test_app *.py
recursive-include tests *.py
